<div class="root-ui-view cssReady" ui-view="">
  <div class="top-view hieght-100">
    <div class="top-upper fadein" style="height:32%;width:100%;background-color:#fff;position:relative">
      <h1 class="top-upper-h1">
        <img class="top-upper-img"
             src="assets/images/logo2x.png"><br>
        <p style="    font-size: 195%; color: #887f7f;">Siêu Tiện - Siêu Rẻ - Siêu Nhiều - Siêu Nhanh</p>
      </h1>
    </div>
    <div class="top-separator"></div>
    <div class="top-separator-backgroud"></div>
    <div class="top-lower fadein top-lower-height">
      <div class="top-category-button-wrapper text-center">
        <button style="display:inline-block" class="category-button"
                routerLink="/starterview">
          <div class="category-button-frame" style=""><span class="fa fa-gift"></span></div>
          <div class="category-button-text ">Sản phẩm</div>
        </button>
        <button class="category-button display" routerLink="/app/main/status">
          <div class="category-button-frame" style=""><span class="fa fa-th-large"></span></div>
          <div class="category-button-text ">Danh mục Shop</div>
        </button>
        <button class="category-button display"
                routerLink="/app/main/setting">
          <div class="category-button-frame" style=""><span class="fa fa-shopping-cart"></span></div>
          <div class="category-button-text ">Đơn Bán</div>
        </button>

        <button class="category-button display"
                routerLink="/app/main/setting">
          <div class="category-button-frame" style=""><span class="fa fa-line-chart"></span></div>
          <div class="category-button-text ">Kênh Marketing</div>
        </button>

        <button class="category-button display"
                routerLink="/app/main/setting">
          <div class="category-button-frame" style=""><span class="fa fa-list-alt"></span></div>
          <div class="category-button-text ">Doanh thu</div>
        </button>

        <button class="category-button display"
                routerLink="/app/main/setting">
          <div class="category-button-frame" style=""><span class="fa fa-money"></span></div>
          <div class="category-button-text ">Ví Chợ</div>
        </button>

        <button class="category-button display"
                routerLink="/app/main/setting">
          <div class="category-button-frame" style=""><span class="fa fa-gears (alias)"></span></div>
          <div class="category-button-text ">Thiết lập Shop</div>
        </button>


        <div style="margin:2em">
          <button class="top-lang-button ">English
          </button>
        </div>
        <div style="position:absolute;bottom:10%;left:5%">
          <div class="lui-button-icon"
               style="font-size:2.2em;line-height:100%;cursor:pointer">
                        <span class="mirror" style="display:inline-block">
                            <span class="fa fa-sign-out"></span>
                        </span>
            <span class="login-backgroud">Logout</span>
          </div>
        </div>
        <div class="style-language">
          <div class="lui-button-icon icon-buton-margin1">
            <span class="display"><span class="fa fa-globe"></span></span> <span class="login-backgroud">Language</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
